__pycache__/bibli_barre_temps.cpython-37.pyc
__pycache__/bibliCAN.cpython-37.pyc
__pycache__/bibliDUREE.cpython-37.pyc
__pycache__/can2_rfid.cpython-37.pyc
__pycache__/P4Datas.cpython-37.pyc
__pycache__/Puissance4_debut_fin.cpython-37.pyc
__pycache__/Puissance4_paniers.cpython-37.pyc
__pycache__/Puissance4classes.cpython-37.pyc
.Trash-1000/files/scow.wav
.Trash-1000/files/sfond bleu.jpeg
.Trash-1000/files/sgong.wav
.Trash-1000/files/skling.wav
.Trash-1000/files/smambo.wav
.Trash-1000/info/scow.wav.trashinfo
.Trash-1000/info/sfond bleu.jpeg.trashinfo
.Trash-1000/info/sgong.wav.trashinfo
.Trash-1000/info/skling.wav.trashinfo
.Trash-1000/info/smambo.wav.trashinfo
System Volume Information/IndexerVolumeGuid
System Volume Information/WPSettings.dat
sons_images/cow.wav
sons_images/fond bleu.jpeg
sons_images/gong.wav
sons_images/kling.wav
